/*
	SSHOW ( http://www.sshow.org )
	Copyright By SeoSeungHyun ( http://www.seoseunghyun.com || http://www.seunghyun.net )
	me@seunghyun.net
*/

@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0 auto;
	height: 100%;
}

#grid
{
	margin: 13% auto;
	width: 500px;
	
}

#logo_grid
{
	margin: 0 auto;
	width: 500px;
	height: 61px;
	position: relative;
	float: left;
}

#logo_background
{
	display: none;
	position: absolute;
}

#logo_wrap
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: relative;
	overflow: hidden;
}

#logo_background_wrap
{
	margin: 0 auto;
	width: 248px;
	height: 61px;
	position: absolute;
	left: 1px;
	top: 0;
	overflow: hidden;
}

#logo_mask
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: absolute;
	left: 0;
	top: 0;
}

#title_grid
{
	margin: 0 auto;
	margin-top: 15px;
	display: inline;
	width: 500px;
	text-align: center;
	position: relative;
	float: left;
	
}

#step_wrap
{
	margin: 0 auto;
	position: relative;
	width: 150px;
	height: 27px;
}

#title_wrap
{
	margin: 0 auto;
	position: relative;
	width: 482px;
	height: 34px;
}

#step_img
{
	position: absolute;
	left: 0px;
	top: 0px;
}

#title_img
{
	position: absolute;
	left: 0px;
	top: 0px;
}

#content_grid
{
	margin: 0 auto;
	display: inline;
	width: 500px;
	text-align: center;
	position: relative;
	float: left;
	height:0px;
	overflow: hidden;
}

#button_grid
{
	margin: 0 auto;
	width: 500px;
	height: 80px;
	position: relative;
	float: left;
	
}

#copyright_grid
{
	margin: 0 auto;
	width: 500px;
	height: 61px;
	position: relative;
	float: left;
}

#button_wrap
{
	margin: 0 auto;
	width: 500px;
	height: 80px;
	position: relative;
}

#step_btn
{
	position: absolute;
	width: 46px;
	height: 46px;
	left: 200px;
	top: 17px;
	cursor: pointer;
}

#lang_btn
{
	position: absolute;
	width: 46px;
	height: 46px;
	left: 254px;
	top: 17px;
	cursor: pointer;
}


/* Step 1 */
#step1_grid
{
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
	width: 500px;

}

.step1_lang_wrap
{
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 100px;
	height: 25px;
	cursor: pointer;
}

.step1_lang_li
{
	position: relative;
	width: 25px;
	height: 25px;
	float: left;	
}

.step1_lang_title
{
	position: absolute;
	left: 90px;
	width: 75px;
	height: 25px;
	float: left;
/* 	display: none; */
}

