/*
	SSHOW ( http://www.sshow.org )
	Copyright By SeoSeungHyun ( http://www.seoseunghyun.com || http://www.seunghyun.net )
	me@seunghyun.net
*/

@charset "UTF-8";
/* CSS Document */
/* Setup CSS Document */
/*
html
{
	height: 100%;
}
*/

body
{
	margin: 0 auto;
	height: 100%;
	font-family: "맑은 고딕", Tahoma, "돋움";
}

.setup_button
{
	cursor: pointer;
}

#grid
{
	margin: 10% auto;
	width: 600px;
}

#logo_wrap
{
	margin: 0 auto;
	width: 600px;
	height: 61px;
	position: relative;
	float: left;
}

#logo
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: relative;
	overflow: hidden;
}

#logo_bgcolor
{
	margin: 0 auto;
	width: 248px;
	height: 61px;
	position: absolute;
	left: 1px;
	top: 0;
	overflow: hidden;
}

#logo_background_img
{
	position: absolute;
}

#logo_mask
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: absolute;
	left: 0;
	top: 0;
}

#title_wrap
{
	width: 600px;
	height: 50px;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
}

#subtitle_wrap
{
	width: 600px;
	height: 25px;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	display: none;
}

#content_wrap
{
	margin: 0 auto;
	width: 600px;
	position: relative;
	float: left;
	text-align: center;
	display: none;
	overflow: hidden;
}

.content_content
{
	margin: 0 auto;
	position: relative;
	width: 425px;
	display: none;
}

#content_license
{
	position: relative;
	margin: 0 auto;
	height: 190px;
}

#content_permission
{
	position: relative;
	margin: 0 auto;
	height: 138px;
}
#content_permission_slot_wrap
{
	margin: 0 auto;
	position: relative;
	width:165px;
	height:100px;
	overflow: hidden;
}

#content_permission_helper
{
	margin: 0 auto;
	position: relative;
	width:165px;
	height:20px;
	overflow: hidden;
}

#content_permission_slot_mask
{
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 165px;
	height: 100px;
	z-index: 1;
}

.content_permission_slot
{
	margin: 0 auto;
	position: relative;
	width: 55px;
	height: 900px;
	float: left;
	z-index: 0;
}

#content_selectDB_list
{
	margin: 0 auto;
	position: relative;
	width: 130px;
	margin-top: 10px;
}

.content_selectDB_eleWrap
{
	position: relative;
	width: 130px;
	float: left;
	height: 50px;
	margin-bottom: 10px;
	
}

.content_selectDB_radio
{
	position: relative;
	width: 20px;
	float: left;
	height: 20px;
	margin-top: 15px;
}

.content_selectDB_name
{
	position: relative;
	width: 110px;
	float: left;
	height: 50px;
	cursor: pointer;
	text-align: right;
	
}

#content_settingDB_load
{
	display: none;
}

#content_settingDB_content
{
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.content_settingDB_img
{
	position: relative;
	margin: 0 auto;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.content_settingDB_eleWrap
{
	position: relative;
	margin: 0 auto;
	height: 25px;
	width: 350px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.content_settingDB_key
{
	position: relative;
	margin: 0 auto;
	float: left;
	width: 175px;
	height: 25px;
	text-align: right;
	font-size: 17px;
	color: #626262;
	
}

.content_settingDB_input
{
	position: relative;
	margin: 0 auto;
	float: left;
	width: 175px;
	height: 25px;
	text-align: left;
}

.content_settingDB_input input
{
	border: none;
	outline: none;
	font-size: 16px;
	width: 130px;
	height: 22px;
	margin: 0px 0px;
	padding: 0px 0px;
	border-bottom: 1px solid #8f8f8f;
	color: #8f8f8f;
}

#btn_wrap
{
	margin: 0 auto;
	width: 600px;
	height: 60px;
	position: relative;
	float: left;
}

#prev_btn
{
	margin: 0 0;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 270px;
	z-index: 0;

}

#next_btn
{
	margin: 0 0;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 270px;
	z-index: 1;
}

.sshowBtn_option
{
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}