/*
	SSHOW ( http://www.sshow.org )
	Copyright By SeoSeungHyun ( http://www.seoseunghyun.com || http://www.seunghyun.net )
	me@seunghyun.net
*/

@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0 auto;
}

#grid
{
	margin: 200px auto;
	width: 600px;
	height: 300px;
}

#logo_grid
{
	margin: 0 auto;
	width: 600px;
	height: 61px;
	position: relative;
	float: left;
}

#logo_background
{
	display: none;
	position: absolute;
}

#logo_wrap
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: relative;
	overflow: hidden;
}

#logo_mask
{
	margin: 0 auto;
	width: 250px;
	height: 61px;
	position: absolute;
	left: 0;
	top: 0;
}
#content_grid
{
	margin: 0 auto;
	width: 600px;
	height: 61px;
	position: relative;
	float: left;
}